{% extends "todolist/layout.html" %}

{% block title %}
<title>Index</title>
{% endblock %}

{% block body %}
<main>
    <div class="title">
        <h1>오늘의 할 일</h1>
    </div>
    <div class="tasks">
        <ul>
            {% for task in tasks %}
            <li><i class="far fa-square checkbox"></i></i> {{ task }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="a-container">
        <a href="{% url 'todolist:add' %}"><i class="fas fa-edit button-i"></i>추가하기</a>
    </div>
</main>

{% endblock %}